h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

li {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  padding: 0 15px;
  max-width: 100vw;
}

.header {
  background-color: rgb(255, 255, 255);
  padding: 16px 15px;
  position: relative;
}

.header-box {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
}
.logo__part--blue {
  color: #2196F3;
}

.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.button-menu {
  padding: 0;
  margin-top: 0;
  display: flex;
}

.button-menu__icon {
  display: flex;
  width: 24px;
  height: 16px;
}

.menu {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 40px;
}
.menu__close {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 2.6vh;
  right: 5.2vw;
}

.menu__close :active {
  fill: #2196F3;
}

.navigation {
  padding-top: 8px;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.location {
  height: 67vh;
  padding-top: 60%;
}

.adress-list {
  display: flex;
  flex-direction: column-reverse;
}

.phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
  margin-bottom: 64px;
}

.menu-sotial {
  padding-bottom: 0;
}

.menu-sotial__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu-sotial__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  position: relative;
}

.menu-sotial__item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: #2196F3;
  position: absolute;
  right: -10px;
}

.hero {
  max-width: 100vw;
  min-height: 50vh;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-kn {
  background-color: #2196F3;
  color: #FFFFFF;
  width: 216px;
  height: 50px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.icon {
  max-width: 100vw;
  max-height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-grow: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-grow: none;
  gap: 30px;
}

.about__icon {
  width: 65.32px;
  height: 70px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */