@charset "UTF-8";
:root {
  --accent-color: #2196F3;
  --primary-text-color: #212121;
  --section-color-black: #2F303A;
  --section-color-white: #F5F5F5;
  --section-color-grey: #F5F4FA;
  --second-text-color-grey: #757575;
  --color-white: #FFFFFF;
}

/* Налаштовуємо правильний розмір блоку */
html {
  box-sizing: border-box;
}

/* Скидання всіх марджинів та паддингів */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
}

/* Налаштування основного шрифту для наслідування */
body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.un-underline {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  background-color: var(--color-white);
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Стилі панелі навігації */
.header .hatpage {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  top: 49.7px;
  left: 0;
  background-color: var(--accent-color);
  position: absolute;
  border-radius: 4px;
}

.header .hatpage:hover,
.header .hatpage:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.navig-list {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  margin-left: 93px;
  position: relative;
}

.header--position {
  position: relative;
}

.position {
  position: relative;
}

.adress-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
  flex-direction: row;
}

.flex-header {
  display: flex;
  align-items: center;
}

.cont {
  display: flex;
  align-items: center;
  color: var(--second-text-color-grey);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cont:hover,
.cont:focus {
  color: var(--accent-color);
}

.cont:hover .convert-icon,
.cont:focus .convert-icon {
  fill: var(--accent-color);
}

.cont:hover .phone-icon,
.cont:focus .phone-icon {
  fill: var(--accent-color);
}

.convert-icon {
  width: 16px;
  height: 12px;
  fill: var(--second-text-color-grey);
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  width: 10px;
  height: 16px;
  fill: var(--second-text-color-grey);
  margin-right: 10px;
  margin-left: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-box {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1600px;
  background-position: 50%;
  margin-left: auto;
  margin-right: auto;
}
.hero__box {
  text-align: center;
  padding: 106px 0;
}
.hero__title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button-kn {
  background-color: var(--accent-color);
  color: var(--color-white);
  width: 216px;
  height: 50px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  display: flex;
  text-align: left;
  gap: 30px;
}

.icon {
  background-color: var(--section-color-grey);
  border-radius: 4px;
  padding: 25px 100px;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about__text {
  color: var(--second-text-color-grey);
}

.pictures {
  padding-top: 0;
}
.pictures__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.pictures__list {
  display: flex;
  gap: 30px;
  position: relative;
}
.pictures__item {
  position: relative;
}
.pictures__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  width: 100%;
}

.team {
  background-color: var(--section-color-grey);
  padding: 94px 0;
}
.team__head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team__page {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color-grey);
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;
}

.fourth-list-flex {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.card-list {
  background-color: var(--color-white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.cards-employers {
  padding: 30px 32px;
}

.soshial-icons {
  display: flex;
  margin-top: 16px;
  gap: 10px;
}

.insta {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.insta-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.insta:hover,
.insta:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.insta:hover .insta-icon,
.insta:focus .insta-icon {
  fill: var(--color-white);
}

.fourth-sec-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-logo-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.clients-logo {
  display: flex;
  border: 1px solid;
  border-color: #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

.logo-icon {
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.clients-logo:hover,
.clients-logo:focus {
  border-color: var(--accent-color);
}

.clients-logo:hover .logo-icon,
.clients-logo:focus .logo-icon {
  fill: var(--accent-color);
}

.footer-background {
  background-color: var(--section-color-black);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-positioning {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  padding: 0;
  margin-bottom: 20px;
}

.logo-white {
  color: var(--color-white);
}

.blue {
  color: var(--accent-color);
}

.flex {
  display: flex;
  align-items: baseline;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.logo-white {
  color: var(--color-white);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-cont {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-background .footer-cont:hover,
.footer-background .footer-cont:focus {
  color: var(--accent-color);
}

.footer-background .active {
  color: var(--accent-color);
}

.address {
  color: var(--color-white);
}

.foot-new {
  margin-left: auto;
}

.join {
  display: inline-block;
  font-family: Roboto;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  color: var(--color-white);
  text-transform: uppercase;
}

.soshial-icons-foot {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.insta {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.round {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.insta-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-color {
  fill: rgb(255, 255, 255);
}

.foot-new {
  margin-left: auto;
}

.subscribe {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.subscribe-head {
  margin-bottom: 20px;
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 398px;
  height: 50px;
  background-color: var(--section-color-black);
  padding: 15px 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.formation {
  display: flex;
  gap: 12px;
}

.subscribe-button {
  display: flex;
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  padding: 10px 28px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
}

.telegram {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-left: 10px;
}

.icons-color {
  fill: rgb(255, 255, 255);
}

.placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.cover-darkness {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  width: 528px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 8px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-modal .modal-inp:hover,
.form-modal .modal-inp:focus {
  border-color: var(--accent-color);
}

.modal-inp:hover + .foc,
.modal-inp:focus + .foc {
  fill: var(--accent-color);
}

.lable-div {
  position: relative;
}

.lable {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-inp {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-name {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 26px;
  left: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-phone {
  width: 13px;
  height: 13px;
  position: absolute;
  bottom: 26px;
  left: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-mail {
  width: 15px;
  height: 12px;
  position: absolute;
  bottom: 26px;
  left: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.lable-check {
  display: inline;
  color: var(--second-text-color-grey);
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.lable-check::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-top: 4px;
  margin-right: 7px;
  text-align: center;
  position: relative;
  bottom: -2px;
}

.check-mod:checked + .lable-check::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/Vector\ \(3\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  margin-right: 7px;
  margin-top: 4px;
}

.modal-comm {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  cursor: pointer;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.justify {
  text-align: center;
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  border: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(189, 186, 186, 0.8705882353);
  background-color: rgba(255, 255, 255, 0.8784313725);
  width: 30px;
  height: 30px;
  padding: 7px 9px 9px 9px;
}

.close-icon-color {
  width: 11px;
  height: 11px;
  fill: rgb(0, 0, 0);
}

.close-modal:hover .close-icon-color,
.close-modal:focus .close-icon-color {
  fill: var(--accent-color);
}

.cover-darkness.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.insta-icon {
  fill: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal .modal-comm:hover,
.form-modal .modal-comm:focus {
  border-color: var(--accent-color);
}

.terms-of-conditions {
  color: var(--second-text-color-grey);
  text-align: center;
}

.terms-conditions {
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-skip: none;
          text-decoration-skip: none;
  color: rgb(33, 150, 243);
}

.first-sec .portfolio-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.alpaka {
  font-family: inherit;
  background-color: var(--section-color-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-sec .alpaka:hover,
.first-sec .alpaka:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-commertials {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: var(--color-white);
}

.borderline {
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-im-anim {
  position: relative;
  overflow: hidden;
  flex-grow: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.borderline:hover .overlay,
.borderline:focus .overlay {
  transform: translateY(0);
}

.borderline:hover,
.borderline:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.section-two-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.section-two-string {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color-grey);
}/*# sourceMappingURL=main.css.map */