
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}


.list {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(white);
    color:rgba(33, 33, 33, 1);
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
