:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --section-color-black: #2F303A;
    --section-color-white: #F5F5F5;
    --section-color-grey: #F5F4FA;
    --second-text-color-grey: #757575;
    --color-white: #FFFFFF;
}

/* Налаштовуємо правильний розмір блоку */
html {
    box-sizing: border-box;
}

/* Скидання всіх марджинів та паддингів */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}



*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
}

/* Налаштування основного шрифту для наслідування */
body {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    background-color: var(--color-white);
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.un-underline {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    cursor: pointer;
}