.icon {
max-width: 100vw;
max-height: 120px;
background: #F5F4FA;
border-radius: 4px;
display: flex;
justify-content: center;
flex-grow: none;
}

.about__icon {
    width: 65.32px; 
    height: 70px;
}