.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    @media screen and (min-width:1200px) {
        align-items: baseline;
    }
}
.footer-orig {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo-white {
    color: #fff;
    font-size: 28px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__contact {
    text-align: center;
}
.footer__address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
text-align: center;
color: rgba(255, 255, 255, 0.6);
}

.white {
    color:#fff ;
}
.foot-new {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.background-color {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
}


.subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.footer__subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    color: #fff;
}

.telegram {
    fill: #fff;
    width: 24px;
    height: 24px;
}

.subscribe-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-width: 100%; 
}

@media screen and (min-width: 768px ) {
.flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
   .subscribe {
    width: 100%;
   } 
}

@media screen and (min-width: 1200px) {
    .subscribe {
       width: 600px;
    }
    .subscribe-input {
        flex-direction: row;
        gap: 12px;
    }
    .footer__input {
        max-width: 358px ;
    }
    .footer__subscribe-title {
        align-self: flex-start;
    }
    .footer__title {
        align-self: flex-start;
    }
    .footer__contact {
        align-self: flex-start;
    }
    .logo-white {
        align-self: flex-start;
    }
}
